# Виртуальное окружение Python
.venv/
venv/
ENV/

# Кэш компиляции Python
__pycache__/
*.py[cod]
*$py.class
src/__pycache__/

# Результаты работы парсера (локальная база данных и картинки)
# Мы исключаем их, чтобы не засорять репозиторий гигабайтами графики
parsed_data/

# Локальные настройки редакторов и системы
.vscode/
.idea/
.DS_Store
Thumbs.db
